/* 기본 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: right;
}

.white-section {
    background-color: #FFF;
    width: 15%;
    height: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    width: 83%;
}

.header2-section {
    background-color: #192C0B;
    flex: 1; /* 20% */
    color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: right;
    
}

.logo img {
    width: 220px; 
    height: 270px; 
    margin-top: -30px;
    padding-right: 85px;
}

.category {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-right: 300px;
}

.category a {
    color: #FFF;
    text-decoration: none;
    margin: 0 50px;
    margin-top: 120px;
    font-size: 20px;
    /* 추가된 스타일 */
    white-space: nowrap;
}

.main-section {
    background-color: #ECEAD8;
    flex: 4; /* 80% */
    padding: 20px;
}

.separator {
    border-bottom: 3px solid #1C2C10;
    width: 320px;
    margin-top: -10px;
    margin-left: -20px;
}

.circle-image {
    /* 동그라미 모양으로 스타일링 */
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 50px;
}

.buttons {
    /* 버튼들을 가로로 나란히 배치 */
    display: flex;
    margin-left: 0px;
    margin-top: 30px;
}

.button {
    /* 버튼 스타일링 (예시) */
    padding: 13px 25px;
    background-color: #192C0B;
    color: #FFF;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}

.time {
    width: 310px;
    height: 200px;
    background-color: #192C0B;
    margin-left: -15px;
    margin-top: 40px;
    color: #FFF;
}

.context {
    width: 1400px;
    height: 1000px;
    background-color: white;
    margin-left:150px;
    padding-top: 10px;
}

.notice {
    padding-top: -20px;
    font-size: 45px;
    text-align: center;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 두 개의 컬럼 너비를 조정 */
    justify-content: center; /* .category2를 수평으로 가운데로 정렬 */
}

.category2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
    color: #192C0B;
}

.category2 a {
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #192C0B;
    font-size: 18px;
   
}

.separator2 {
border-bottom: 3px solid #1C2C10;
width: 130%;
margin-top: -17px;
margin-left: -20px;
}
