/* 기본 스타일 */
body {
    margin: auto;
    padding: auto;
    font-family: Arial, sans-serif;
}

html {
    max-width: 1080px;
    margin: auto;
    padding: auto;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.white-section {
    background-color: #FFF;
    width: 20%;
    height: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    width: 83%;
}

.header2-section {
    background-color: #192C0B;
    flex: 1;
    /* 20% */
    color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: right;

}

.logo img {
    width: 250px;
    height: 270px;
    margin-top: 5px;
    margin-right: 100px;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.category a {
    color: #FFF;
    text-decoration: none;
    margin: 0 50px;
    margin-top: 120px;
    font-size: 20px;
    /* 추가된 스타일 */
    white-space: nowrap;
}

.main-section {
    background-color: #ECEAD8;
    flex: 4;
    /* 80% */
    padding: 20px;
}

.separator {
    border-bottom: 3px solid #1C2C10;
    width: 500%;
    margin-top: 2px;
    margin-left: -290px;
}

.circle {
    display: flex;
    justify-content: center;
}