.approval {
    background-color: #8d8a6d;
}

.newApp {
    border: 1px solid #8d8a6d;
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 49px;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: 500;
    margin-left: 25px;
    cursor: pointer;
}

.newApp:hover {
    /* border: 2px solid #8d8a6d; */
    box-shadow: 0 2px 4px 0 rgb(203, 203, 203);
}

.documentForm {
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 600;
}

.goApp, .myDocument {
    margin-left: 40px;
    font-weight: 600;
    margin-top: 23px;
}

.purchase, .appWait, .myBusiness {
    margin-top: 10px;
}

.purchase, .pay, .traffic, .vacation, .business, .appSee, .appSoon, .appWait, .myBusiness, .myApp, .send, .receive, .mySee {
    padding-left: 60px;
    margin-bottom: 7px;
    cursor: pointer;
}
